@charset "utf-8";
html{
	font-family: system-ui;
	scroll-behavior: smooth;
}

body{
	display: grid;
	grid-template-areas:
	"header header"
	"nav main"
	"footer footer";
	gap: 1em;
	margin: 0;
	color: #4E443C;
	background-color: #F0EFE7;
}

header{
	grid-area: header;
	margin: 1em;
}
header img{
	height: 40px;
}
nav {
	grid-area: nav;
	justify-self: end;
	margin: 1em;
}
nav a {
	color: #413932;
}
nav a.active, nav a:hover {
	color: #F14E32;
}
nav a.current_page::before, nav a.current_page::after {
	content: " >> ";
	font-family: monospace;
	font-weight: bold;
}

nav section > a, nav > a{
	display: inline-block;
	margin-top: 2em;
	font-weight: bold;
}
nav section div{
	margin-left: .5em;
	padding-left: .5em;
	border-left: 1px dashed;
	border-bottom: 1px dashed;
	display: flex;
	flex-direction: column;
	margin-bottom: .25em;
}

footer{
	grid-area: footer;
	text-align: center;
	color: #F0EFE7;
	background-color: #4E443C;
	padding: .5em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

a {
	color: #0388A6;
	text-decoration: none;
	transition: 0.2s;
}

a:hover {
	color: #04B1D8;
}

pre {
	background-color: #E8E7DD;
	padding: 1em;
	margin-bottom: 1em;
	color: #4E443C;
	font-family: Courier,monospace !important;
	white-space: pre-wrap;
	word-wrap: break-word;
}

:not(pre) > code {
	background-color: #f0efe7;
}

img[alt="icon"]{
	display: inline;
	margin-top: 0px;
	margin-right: 0.5em;
	margin-bottom: -0.3em;
	margin-left: 0.5em;
	height: 2em;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

main {
	background-color: #FCFCFA;
	border: 1px solid #E2E0D8;
	border-radius: 0.5em;
	padding: 1em;
	margin: 1em;
	max-width: 800px;
}

table {
	border-collapse:collapse;
	font-family: monospace;
}

td {
	border: 1px solid black;
	padding: 5px;
}

td:nth-child(3){
	width:50%;
}

blockquote{
	border: 1px dotted;
	padding: 0 1em;
}

#go_to_the_top_button {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	bottom: 2em;
	right: 2em;
	width: 65px;
	height: 65px;
	font-size: 1.5em;
	color: black;
	z-index: 99;
	background: #f9bf3a url(/modding_guide/images/common/morale_bar_arrow.png) center 5px no-repeat;
	border-radius: .5em;
}

@media screen and (max-width: 700px){
	body{
		grid-template-areas:
		"header"
		"main"
		"nav"
		"footer";
	}
	nav{
		justify-self: center;
	}
}